.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:white;
  height: 50px;
  border: 1px solid black;
  box-shadow: 0 2px 4px #0d1282;


  .left {
    margin: 3px;
    color: #0d1282;
    display: flex;
    align-items: center;
    justify-content: center;


    h2:hover{
    cursor: pointer;
    }
  }

  .center {
    color: #0d1282;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;



    

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

  

      li {
        width: 100px;
        margin-left: 15px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    ul li:hover {
      cursor: pointer;
      background-color: #0d1282;
      color: #ffffff;
      border-radius: 5px;
    }
    a {
      text-decoration: none; /* Remove underline */
    }
    
  }

  .right{
   
   

    img{

      width: 50px;
      height: 50px;
    }
    img:hover{
      cursor: pointer;
    }
  }
}
